<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="container">
        <h1>URL SHORTENER ;)</h1>
        <form action="/shortUrls" method="POST">
            <label for="longUrl">YOUR URL</label>
            <input type="url" name="longUrl" id="longUrl">
            <button type="submit">Т Ы К</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>LONG</th>
                    <th>SHORT</th>
                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach(shortUrl => { %>
                    <tr>
                        <td><a href="<%= shortUrl.longUrl %>"><%= shortUrl.longUrl %></a></td>
                        <td><a href="<%= shortUrl.shortUrl %>"><%= shortUrl.shortUrl %></a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>
